In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np
import glob
import matplotlib.pyplot as plt
%matplotlib inline
%config Completer.use_jedi = False

In [2]:
#Import eQTL files for required cancer type

#Add path to eQTL files
path = r'/Users/jake/OneDrive - University of Glasgow/Project/COAD/eQTL'

all_files = glob.glob(path + "/*.csv")

#For loop to read in eQTL files        
for filename in all_files:
    
    if 'cis_eQTL' in filename:
        cis_eQTL = pd.read_csv(filename,sep=',',index_col=0)
    elif 'trans_eQTL' in filename:
        trans_eQTL = pd.read_csv(filename, sep=',',index_col=0)

In [3]:
cis_eQTL['Gene_symbol'].value_counts()

LOC399744    1638
FABP2        1076
SNHG5        1039
ZNF117        998
XKR9          980
             ...
ZFAT            1
CLCN3           1
CCDC76          1
TMEM14C         1
ARL6IP4         1
Name: Gene_symbol, Length: 5048, dtype: int64

In [4]:
trans_eQTL['Gene_symbol'].value_counts()

CCDC74B      384
LOC285359    287
ZNF322B      273
INTS4L1      147
LOC647288    116
            ...
NXT1           1
GZMM           1
MOBKL1A        1
RRBP1          1
SPG20          1
Name: Gene_symbol, Length: 373, dtype: int64

In [5]:
#cis and trans value counts per gene symbol

cis_counts = cis_eQTL['Gene_symbol'].value_counts()
trans_counts = trans_eQTL['Gene_symbol'].value_counts()

In [6]:
#95 percentile for num of eQTLS per gene

cis_95 = cis_eQTL[cis_eQTL['Gene_symbol'].isin(cis_counts[cis_counts >= cis_counts.quantile(0.95)].index)]
trans_95 = trans_eQTL[trans_eQTL['Gene_symbol'].isin(trans_counts[trans_counts >= trans_counts.quantile(0.95)].index)]

In [7]:
#Create dataframe for 95 percentile

cis_95_df = cis_95.value_counts(['Gene_symbol','Entrez_ID']).to_frame('Value_count').reset_index()
trans_95_df = trans_95.value_counts(['Gene_symbol','Entrez_ID']).to_frame('Value_count').reset_index()

In [8]:
cis_95_df.head()

  Gene_symbol  Entrez_ID  Value_count
0   LOC399744     399744         1638
1       FABP2       2169         1076
2       SNHG5     387066         1039
3      ZNF117      51351          998
4        XKR9     389668          980

In [9]:
#Write the cis and trans 95 percentile dataframes to csv

cis_95_df.to_csv(path.split('/')[5]+'_cis_eQTL_95.csv')
trans_95_df.to_csv(path.split('/')[5]+'_trans_eQTL_95.csv')