In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np
import glob
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Import FPKM, MAF_protein and isoform switch files for required cancer type

#Isoform switch file
isoform_switches_file = '/Users/jake/OneDrive - University of Glasgow/Project/COAD/isoform_switch/coad-isoform-switch-iktspmodel.txt'

#Load isoform switches
isoform_switches = pd.read_csv(isoform_switches_file,sep='\t',header=None)

In [3]:
isoform_switches.head()

                           0                          1
0      FBLN2|2199,uc011avb.1      FBLN2|2199,uc011ava.1
1        CD44|960,uc001mvw.2        CD44|960,uc001mvx.2
2  SLC39A14|23516,uc003xbq.3  SLC39A14|23516,uc003xbp.3
3       UGP2|7360,uc002scl.2       UGP2|7360,uc002scm.2
4      IL1R2|7850,uc002tbn.2      IL1R2|7850,uc002tbm.2

In [4]:
#Create new cols for isoform switches, with one displaying gene_symbol and the other two displaying the two transcript IDs

isoform_switches['Gene_symbol'] = isoform_switches[0].apply(lambda x: x.split('|')[0])
isoform_switches['Entrez_ID'] = isoform_switches[0].apply(lambda x: x.split('|')[1].split(',')[0])
isoform_switches['Transcript_Id_1'] = isoform_switches[0].apply(lambda x: x.split(',')[1])
isoform_switches['Transcript_Id_2'] = isoform_switches[1].apply(lambda x: x.split(',')[1])

#Drop the initial columns
isoform_switches.drop([0,1],axis=1,inplace=True)

In [5]:
isoform_switches

   Gene_symbol Entrez_ID Transcript_Id_1 Transcript_Id_2
0        FBLN2      2199      uc011avb.1      uc011ava.1
1         CD44       960      uc001mvw.2      uc001mvx.2
2     SLC39A14     23516      uc003xbq.3      uc003xbp.3
3         UGP2      7360      uc002scl.2      uc002scm.2
4        IL1R2      7850      uc002tbn.2      uc002tbm.2
5         ISLR      3671      uc002axh.1      uc002axg.1
6      ARHGEF9     23229      uc004dvl.2      uc011mos.1
7         FLNA      2316      uc004fkk.2      uc010nuu.1
8        MYH11      4629      uc002ddy.2      uc002ddw.2
9         CTTN      2017      uc001opv.3      uc001opw.3
10         SRI      6717      uc003ujq.1      uc003ujr.1
11    ATP6V1C2    245973      uc002ras.2      uc002rat.2
12       HKDC1     80201      uc001jpf.3      uc010qje.1

In [6]:
#Number of genes associated with isoform switches

isoform_switches['Gene_symbol'].nunique()

13

In [7]:
#Save to csv
isoform_switches.to_csv(isoform_switches_file.split('/')[5]+'_isoform_switches.csv')