In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np
import glob
import matplotlib.pyplot as plt
%matplotlib inline
%config Completer.use_jedi = False

In [2]:
#Import eQTL files for required cancer type

#Add path to eQTL files
path = r'/Users/jake/OneDrive - University of Glasgow/Project/BRCA/eQTL'

all_files = glob.glob(path + "/*.csv")

#For loop to read in eQTL files        
for filename in all_files:
    
    if 'cis_eQTL' in filename:
        cis_eQTL = pd.read_csv(filename,sep=',',index_col=0)
    elif 'trans_eQTL' in filename:
        trans_eQTL = pd.read_csv(filename, sep=',',index_col=0)

In [3]:
#Check gene value counts

cis_eQTL['Gene_symbol'].value_counts()

CCT6P1       1930
STAG3L4      1805
ZNF117       1668
LOC399744    1437
FAM182B      1435
             ...
RTN4RL1         1
STRA6           1
FAM183A         1
KAT5            1
FAM109A         1
Name: Gene_symbol, Length: 11858, dtype: int64

In [4]:
trans_eQTL['Gene_symbol'].value_counts()

FOLH1B       6069
LOC647121    1732
BTN3A2        634
RNF5P1        592
ZNF322B       582
             ...
FLJ39653        1
RPL31           1
CIAO1           1
CROCCL1         1
APOA1BP         1
Name: Gene_symbol, Length: 6012, dtype: int64

In [5]:
#cis and trans value counts per gene symbol

cis_counts = cis_eQTL['Gene_symbol'].value_counts()
trans_counts = trans_eQTL['Gene_symbol'].value_counts()

In [6]:
#filter 95 percentile for num of eQTLS per gene

cis_95 = cis_eQTL[cis_eQTL['Gene_symbol'].isin(cis_counts[cis_counts >= cis_counts.quantile(0.95)].index)]
trans_95 = trans_eQTL[trans_eQTL['Gene_symbol'].isin(trans_counts[trans_counts >= trans_counts.quantile(0.95)].index)]

In [7]:
#Create dataframe for 95 percentile with additonal value count col

cis_95_df = cis_95.value_counts(['Gene_symbol','Entrez_ID']).to_frame('Value_count').reset_index()
trans_95_df = trans_95.value_counts(['Gene_symbol','Entrez_ID']).to_frame('Value_count').reset_index()

In [8]:
cis_95_df.head()

  Gene_symbol  Entrez_ID  Value_count
0      CCT6P1     643253         1930
1     STAG3L4      64940         1805
2      ZNF117      51351         1668
3   LOC399744     399744         1437
4     FAM182B     728882         1435

In [9]:
#Write the cis and trans 95 percentile dataframes to csv

cis_95_df.to_csv(path.split('/')[5]+'_cis_eQTL_95.csv')
trans_95_df.to_csv(path.split('/')[5]+'_trans_eQTL_95.csv')